.navbar {
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #38bdf8;
}

.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #38bdf8;
}

.register-btn {
  background: #38bdf8;
  padding: 8px 16px;
  border-radius: 6px;
  color: #0f172a !important;
  font-weight: bold;
}

.register-btn:hover {
  background: #0ea5e9;
}